* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
a {
  color: #fff;
}
p {
  margin: auto 5px;
}
input {
  background: none;
  width: 80%;
  border: none;
  border-bottom: 1px solid #fff;
  padding-left: 5px;
  color: #fff;
  height: 30px;
  margin: auto;
}

h1 {
  font-size: 29px;
}
textarea {
  background: none;
  width: 80%;
  border: none;
  border-bottom: 1px solid #fff;
  padding-left: 5px;
  color: #fff;
  height: 50px;
  margin: auto;
  margin-top: 2%;
}

meter {
  width: 100%;
}
blockquote {
  text-indent: 20px;
}
button {
  cursor: pointer;
}
#load {
  color: #fff;
  justify-content: center;
  align-items: center;
}
#name {
  text-transform: capitalize;
}
#uang img {
  transform: translateY(50%);
}
/* main */

.main {
  height: 100vh;
  background: #000;
  overflow-y: scroll;
}
.background {
  width: 100%;
  height: 100vh;
  background: url(img/bc2.jpeg);
  display: flex;
  overflow-y: scroll;
  object-fit: cover;
  background-position: center;
  background-attachment: fixed;
}
.page {
  margin: auto;
  width: 40rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
  z-index: 9;
}
.card {
  margin: auto;
  padding: 2rem 2rem 0 2rem;
  min-height: 13rem;
  color: white;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 3px solid white;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  animation: modal 1s forwards;
  animation-delay: 1s;
  opacity: 0;
}
.page .gif {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
  margin-bottom: 2%;
}
.page h1 {
  margin-bottom: 2px;
  color: #fff;
  text-align: center;
}
.tag {
  text-align: center;
  color: #fff;
  margin-top: 10%;
}
/* button */
.button {
  display: flex;
  margin: 1.5rem 1.5rem;
  justify-content: end;
}

.button button {
  padding: 3px 25px;
  background-color: transparent;
  color: #fff;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 1s ease;
  cursor: pointer;
}
.button button:hover {
  background-color: #fff;
  color: #000;
}
.card-load {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(40px);
  z-index: 999;
  flex-direction: column;
}
.modal.show {
  display: flex;
  opacity: 1;
}
.modal a {
  margin: 0.5rem auto;
}
.modal .card-modal {
  margin: auto;
  border: 1px solid white;
  width: 40rem;
  min-height: 20rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: white;
  padding-top: 5px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  transition: all 2s;
  animation: modal 0.5s forwards;
}
.modal .card-modal img {
  margin: auto;
}

.card-modal h4 {
  margin-top: 1rem;
}
.card-modal .bottom {
  margin-bottom: 50px;
}
#load h3 {
  margin: auto;
  color: #fff;
}

#btn-noInput:hover {
  background-color: red;
}
.btn {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 1.5rem auto;
}
.btn button {
  padding: 3px 25px;
  background-color: transparent;
  color: #fff;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.btn button:hover {
  background-color: #fff;
  color: #000;
}
/* alert */
.tmpt-alert {
  height: 0.5px;
}
.alert {
  display: none;
  color: red;
  font-style: italic;
  font-size: small;
  justify-content: center;
}
.show {
  display: flex;
}
.hidden {
  display: none;
}
.reset {
  position: relative;
  left: -5%;
  cursor: pointer;
  opacity: 50%;
}
.reset:hover {
  opacity: 100%;
}
/* Gallery */
.container h1 {
  margin: 10px auto;
  color: #fff;
}
.data-gallery {
  overflow-y: scroll;
  height: 100vh;
}

.display-img-false {
  display: flex;
  flex-direction: row-reverse;
}
.display-img-true {
  display: flex;
}
.data-gallery img {
  flex: 1;
  width: 50%;
  object-fit: contain;
  box-sizing: border-box;
}
.data-gallery .desc {
  width: 50%;
  flex: 1;
  overflow: scroll;
  padding: 0.5rem;
  box-sizing: border-box;
  color: white;
  mix-blend-mode: difference;
}

.desc span {
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.reset-form {
  border: hidden;
}

/* Input photo */

.photo-i {
  /* height: 30vh; */
  width: 100%;
  background-color: black;
  padding: 5px;
}
.photo-i form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 5px;
  background: url(img/bc1.jpeg);
}
.container {
  height: 100vh;
  width: 100%;
  background: url(img/bc3.jpeg);
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  background-color: #000;
}
.container.hidden {
  display: none;
}
.alert-i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  color: red;
  position: absolute;
  width: 100%;
}
.alert-i.hidden {
  display: none;
}
.open-form {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0.5rem auto;
  font-weight: bold;
}
.open-form span {
  cursor: pointer;
  opacity: 50%;
  color: #fff;
}
.open-form span:hover {
  opacity: 100%;
  transform: scale(1.1);
}

.container button {
  height: 30px;
  width: 80%;
  margin: 1rem auto;
  color: #fff;
  background-color: transparent;
  border: 1px solid white;
  font-weight: bold;
  transition: all 0.5s ease;
}
.container button:hover {
  background-color: #fff;
  color: #000;
}
footer {
  width: 100%;
  box-sizing: border-box;
  background: url(img/bc1.jpeg);
  color: #fff;
  padding: 0.5rem 1rem 1.5rem 0.5rem;
  display: flex;
  gap: 1rem;
  font-size: small;
}
footer.hidden {
  display: none;
}
footer div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
footer a,
footer span {
  opacity: 70%;
  cursor: pointer;
}

footer a:hover,
footer span:hover {
  opacity: 100%;
  transform: translateY(-1px);
}
.fitur div {
  display: block;
}
.sosmed {
  flex: 1;
  align-items: end;
}
.anim {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  animation: keatas 1s forwards;
}
.anim-gif {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  animation: gif 1s forwards;
}
.anim-kebawah {
  opacity: 0;
  transition: all 1s ease-in-out;
  animation: kebawah 1s forwards;
}
.spinner {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 8px solid #fff;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes keatas {
  0% {
    transform: translateY(1.5rem);
    transform: scale(0.2);
  }
  50% {
    transform: translateY(-1.5rem);
    transform: scale(1.1);
  }
  100% {
    transform: translateY(0);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes kebawah {
  0% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes gif {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  50% {
    transform: translateY(20%);
    transform: scale(1);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes modal {
  0% {
    transform: translateY(50%) scale(0.5);
    opacity: 0;
  }
  50% {
    transform: translateY(-10%) scale(1.2);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .modal .card-modal {
    width: 95%;
  }
  .page {
    width: 100%;
  }
}
